.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes borderAnimation {
  0% {
    border: 5px solid #f00; /* Start with red border */
  }
  25% {
    border: 5px solid #0f0; /* Transition to green border */
  }
  50% {
    border: 5px solid #00f; /* Transition to blue border */
  }
  75% {
    border: 5px solid #ff0; /* Transition to yellow border */
  }
  100% {
    border: 5px solid #f00; /* End with red border */
  }
}

.border-animation {
  animation: borderAnimation 5s infinite; /* 5s for the duration, infinite for continuous looping */
  border-radius: 50%; /* Optional: to make the border rounded */
}

